#information{
  font-size: 14px;
  color: #555555;
  p{
    text-indent: 2em;
    line-height: 35px;
    text-align: justify;
  }
  .banner{
    width: 100%;
    img{
      width: 100%;
    }
  }
  .wrap{
    width: 1200px;
    margin: auto;
    padding: 100px 0;
  }
}
