#inviteJoin{
  .banner{
    width: 100%;
    img{
      width: 100%;
    }
  }
  .list2{
    width: 100%;
    .swiper11{
      width: 100%;
      height: 700px;
      .slide11{
        width: 100%;
        height: 100%;
        background: url("../img/bj11.png") no-repeat center;
        background-size: 100% 100%;
        display: flex;
        align-items: center;
        >div{
          width: 1200px;
          margin: auto;
          position: relative;
          .title02{
            position: absolute;
            top: -120px;
            left: 0px;
            img{
              width: 80%;
            }
          }
          .swiper12{
            width: 800px;
            margin: auto;
            .slide12{
              text-align: center;
              .s12-1{
                position: relative;
                padding: 40px 0;
                .s12Img{
                  width: 200px;
                  height: 140px;
                  margin: auto;
                  position: relative;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin-bottom: 35px;
                  img{
                    width: 100%;
                  }
                }
                .s12Img::after{
                  content: '';
                  position: absolute;
                  width: 200px;
                  height: 140px;
                  border: 1px solid #444444;
                  -webkit-transform: translate(-12%,-15%);
                  -moz-transform: translate(-12%,-15%);
                  -ms-transform: translate(-12%,-15%);
                  -o-transform: translate(-12%,-15%);
                  transform: translate(-12%,-15%);
                }
                .page12{
                  position: absolute;
                  width: 45px;
                  height: 35px;
                  left: 27%;
                  .currentPage{
                    font-size: 18px;
                    color: #ede8e3;
                    text-align: left;
                  }
                  .xian{
                    width: 50px;
                    height: 1px;
                    background-color: #555555;
                    -webkit-transform: rotateZ(-45deg);
                    -moz-transform: rotateZ(-45deg);
                    -ms-transform: rotateZ(-45deg);
                    -o-transform: rotateZ(-45deg);
                    transform: rotateZ(-45deg);
                  }
                  .totalPage{
                    font-size: 14px;
                    color: #555555;
                    text-align: right;
                  }
                }
                .s12Title{
                  .enTitle{
                    font-size: 16px;
                    color: #444444;
                    margin-bottom: 8px;
                  }
                  .cnTitle{
                    font-size: 18px;
                    color: #ede8e3;
                  }
                }
              }
              .s12-2{
                padding: 55px 50px;
                font-size: 14px;
                color: #999999;
                background-color: #373535;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                position: relative;
                p{
                  text-align: center;
                  line-height: 30px;
                }
              }
              .s12-2::after{
                content: '';
                display: block;
                position: absolute;
                width: 2px;
                height: 50px;
                background-color: #604775;
                left: 50%;
                top: -25px;
              }
            }
          }
          .prev12,.next12{
            width: 52px;
            height: 50px;
          }
          .prev12{
            top: 50%;
            left: 80px;
            background: url("../img/iconLeft01_use.png") no-repeat center #604775;
            background-size: 20% auto;
          }
          .prev12.swiper-button-disabled{
            opacity: 1;
            background: url("../img/iconLeft01.png") no-repeat center #333333;
            background-size: 20% auto;
          }
          .next12{
            top: 50%;
            right: 80px;
            background: url("../img/iconRight01_use.png") no-repeat center #604775;
            background-size: 20% auto;
          }
          .next12.swiper-button-disabled{
            opacity: 1;
            background: url("../img/iconRight01.png") no-repeat center #333333;
            background-size: 20% auto;
          }
        }
      }
    }
  }
  .list3{
    width: 100%;
    height: 700px;
    background: url("../img/bj12.png") no-repeat center;
    background-size: 100% 100%;
    padding-bottom: 40px;
    .l3-wrap{
      width: 1200px;
      height: 100%;
      margin: auto;
      .l3-title{
        padding: 50px 0;
        .title-1{
          font-size: 24px;
          color: #ffffff;
          margin-bottom: 12px;
        }
        .title-2{
          font-size: 12px;
          color: #ede8e3;
        }
      }
    }
    .l3-swiper{
      position: relative;
      display: flex;

      .swiper13{
        width: 85%;
        height: 430px;
        margin-left: 0;
        background-color: rgba(255,255,255,0.9);
        padding: 50px;
        padding-right: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        .bj01{
          width: 100px;
          height: 100px;
          position: absolute;
          bottom: 30px;
          left: 30px;
          background-color: #5b73b6;
        }
        .slide13{
          display: flex;
          align-items: center;
          .slide13-img{
            width: 33.3%;
            height: 100%;
            margin-right: 70px;
            img{
              width: 100%;
              height: 100%;
            }
          }
          .slide13-info{
            width: 50%;
            .info13-1{
              margin-bottom: 30px;
              .i13-title{
                font-size: 20px;
                color: #333333;
                font-weight: bold;
                margin-bottom: 10px;
                position: relative;
              }
              .i13-title::after{
                content: '';
                display: block;
                position: absolute;
                width: 70px;
                height: 2px;
                background-color: #4f69b0;
                top: 50%;
                left: -90px;
              }
              .i13-title2{
                font-size: 14px;
                color: #999999;
              }
            }
            .info13-2{
              font-size: 14px;
              color: #555555;
              p{
                width: 480px;
                height: 180px;
                line-height: 30px;
                text-align: justify;
              }
            }
          }
        }
      }
      .swiperRight{
        width: 15%;
        height: 430px;
        position: relative;
        .swiper17{
          width: 100%;
          height: 100%;
        }
        .r1{
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #5b73b6;
          border-bottom: 1px solid #647bbb;
          border-right: 1px solid #647bbb;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s;
          cursor: pointer;
          >div{
            width: 55%;
            .r1-title{
              font-size: 14px;
              color: #ffffff;
              font-weight: bold;
              margin-bottom: 10px;
            }
            .r1-title2{
              font-size: 8px;
              color: rgba(255,255,255,0.5);
            }
          }
        }
        .r1:first-child{
          border-top: 1px solid #647bbb;
        }
        .r1:hover{
          background-color: #425eaa;
        }
        .r1.sel{
          background-color: #425eaa;
        }
        .prev13,.next13{
          position: absolute;
          width: 100%;
          height: 33.3%;
          left: 0;
          cursor: pointer;
        }
        .prev13{
          background: url("../img/top01.png") no-repeat center #425eaa;
          background-size: 20% auto;
          top: 0;
          -webkit-transform: translateY(-100%);
          -moz-transform: translateY(-100%);
          -ms-transform: translateY(-100%);
          -o-transform: translateY(-100%);
          transform: translateY(-100%);
        }
        .prev13.swiper-button-disabled{
          background: url("../img/top01.png") no-repeat center #5b73b6;
          background-size: 20% auto;
          opacity: 1;
        }
        .next13{
          background: url("../img/bottom01.png") no-repeat center #425eaa;
          background-size: 20% auto;
          bottom: 0;
          -webkit-transform: translateY(100%);
          -moz-transform: translateY(100%);
          -ms-transform: translateY(100%);
          -o-transform: translateY(100%);
          transform: translateY(100%);
        }
        .next13.swiper-button-disabled{
          background: url("../img/bottom01.png") no-repeat center #5b73b6;
          background-size: 20% auto;
          opacity: 1;
        }
      }
    }
  }
  .wrap{
    .list4{
      width: 100%;
      height: 700px;
      padding: 50px 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      .l4-wrap{
        width: 1200px;
        margin: auto;
        .l4-title{
          margin-bottom: 60px;
          img{
            width: 100%;
          }
        }
        .l4-swiper{
          width: 100%;
          position: relative;
          .swiper14{
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 20px 10px;
            .slide14{
              -webkit-transition: all 0.5s;
              -moz-transition: all 0.5s;
              -ms-transition: all 0.5s;
              -o-transition: all 0.5s;
              transition: all 0.5s;
              -webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.1);
              -moz-box-shadow: 0 0 10px rgba(51, 51, 51, 0.1);
              box-shadow: 0 0 10px rgba(51, 51, 51, 0.1);
              .slide14-1{
                position: relative;
                img{
                  width: 100%;
                }
                .imgDetail{
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  top: 0;
                  left: 0;
                  background-color: #604775;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: 14px;
                  color: #e4e4e4;
                  padding: 0 25px;
                  -webkit-box-sizing: border-box;
                  -moz-box-sizing: border-box;
                  box-sizing: border-box;
                  -webkit-transition: all 0.5s;
                  -moz-transition: all 0.5s;
                  -ms-transition: all 0.5s;
                  -o-transition: all 0.5s;
                  transition: all 0.5s;
                  z-index: -1;
                  opacity: 0;
                  p{
                    line-height: 30px;
                    text-align: justify;
                  }
                }
              }
              .slide14-2{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 35px 0;
                position: relative;
                .cirImg{
                  position: absolute;
                  width: 70px;
                  height: 70px;
                  top: -35px;
                  -webkit-transition: all 0.5s;
                  -moz-transition: all 0.5s;
                  -ms-transition: all 0.5s;
                  -o-transition: all 0.5s;
                  transition: all 0.5s;
                  z-index: -1;
                  opacity: 0;
                  >div{
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    overflow: hidden;
                  }
                  img{
                    width: 100%;
                  }
                }
                .cirImg::after{
                  -webkit-transition: all 0.5s;
                  -moz-transition: all 0.5s;
                  -ms-transition: all 0.5s;
                  -o-transition: all 0.5s;
                  transition: all 0.5s;
                  content: '';
                  display: block;
                  width: 2px;
                  height: 0px;
                  position: absolute;
                  left: 50%;
                  top: 55px;
                  background-color: #999999;
                  -webkit-border-radius: 20px;
                  -moz-border-radius: 20px;
                  border-radius: 20px;
                }
                .sl4-wrap{
                  -webkit-transition: all 0.5s;
                  -moz-transition: all 0.5s;
                  -ms-transition: all 0.5s;
                  -o-transition: all 0.5s;
                  transition: all 0.5s;
                  text-align: center;
                  .s4-info1{
                    font-size: 16px;
                    color: #333333;
                    margin-bottom: 15px;
                  }
                  .s4-info2{
                    font-size: 12px;
                    color: #c8c8c8;
                  }
                }
              }
            }
            .slide14:hover{
              box-shadow: none;
              .slide14-1{
                .imgDetail{
                  z-index: 100;
                  opacity: 1;
                }
              }
              .slide14-2{
                .cirImg{
                  opacity: 1;
                  z-index: 100;
                }
                .cirImg::after{
                  height: 40px;
                }
                .sl4-wrap{
                  -webkit-transform: translateY(55%);
                  -moz-transform: translateY(55%);
                  -ms-transform: translateY(55%);
                  -o-transform: translateY(55%);
                  transform: translateY(55%);
                }
              }
            }
          }
          .prev14,.next14{
            width: 52px;
            height: 50px;
          }
          .prev14{
            top: 50%;
            left: -50px;
            background: url("../img/iconLeft01_use.png") no-repeat center #604775;
            background-size: 20% auto;
          }
          .prev14.swiper-button-disabled{
            opacity: 1;
            background: url("../img/iconLeft01.png") no-repeat center #f6f6f6;
            background-size: 20% auto;
          }
          .next14{
            top: 50%;
            right: -50px;
            background: url("../img/iconRight01_use.png") no-repeat center #604775;
            background-size: 20% auto;
          }
          .next14.swiper-button-disabled{
            opacity: 1;
            background: url("../img/iconRight01.png") no-repeat center #f6f6f6;
            background-size: 20% auto;
          }
        }
      }
    }
    .list5{
      width: 100%;
      height: 710px;
      background: url("../img/bj13.png") no-repeat center;
      background-size: 100% 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 40px 0;
      .l5-wrap{
        width: 1200px;
        margin: auto;
        .l5-title{
          width: 100%;
          margin-bottom: 60px;
          img{
            width: 90%;
            margin: auto;
          }
        }
        .l5-slide{
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          >div{
            width: 16%;
          }
          .slideList{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;
            .sl1{
              width: 85px;
              height: 85px;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
              overflow: hidden;
              position: relative;
              z-index: 200;
              background-color: #ffffff;
              display: flex;
              justify-content: center;
              align-items: center;
              border: 1px solid #c8c8c8;
              img{
                max-width: 100%;
                max-height: 100%;
              }
              .l-default{
                position: absolute;
                width: 100%;
                height: 100%;
                font-size: 20px;
                top: 0;
                left: 0;
                text-align: center;
                line-height: 85px;
                color: #ffffff;
                background-color: #c8c8c8;
              }
            }
            .sl2{
              -webkit-transform: translateY(-30%);
              -moz-transform: translateY(-30%);
              -ms-transform: translateY(-30%);
              -o-transform: translateY(-30%);
              transform: translateY(-30%);
              -webkit-transition: all 0.5s;
              -moz-transition: all 0.5s;
              -ms-transition: all 0.5s;
              -o-transition: all 0.5s;
              transition: all 0.5s;
              text-align: center;
              >img{
                width: 20%;
                margin: auto;
              }
              .sl2-1{
                font-size: 20px;
                color: #888888;
                margin-bottom: 7px;
              }
              .sl2-2{
                font-size: 12px;
                color: #999999;
              }
            }
          }
          .slideList:hover{
            .sl2{
              -webkit-transform: translateY(0%);
              -moz-transform: translateY(0%);
              -ms-transform: translateY(0%);
              -o-transform: translateY(0%);
              transform: translateY(0%);
            }
          }
        }
      }
    }
  }
  .list6{
    width: 100%;
    height: 700px;
    background: url("../img/bj14.png") no-repeat center;
    background-size: 100% 100%;
    .l6-wrap{
      width: 1200px;
      margin: auto;
      position: relative;
      >img{
        width: 90%;
        margin: auto;
      }
      .detail{
        position: absolute;
        width: 562px;
        height: 398px;
        border: 1px solid red;
        top: 105px;
        right: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        >div{
          width: 65%;
          font-size: 18px;
          color: #999999;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          >div{
            width: 100%;
            padding: 25px 0;
            border-bottom: 1px solid #dddddd;
            margin-bottom: 10px;
          }
          .button{
            position: absolute;
            bottom: -140px;
            border-bottom: 0;
            text-align: center;
            button{
              width: 250px;
              line-height: 60px;
              color: #604775;
              font-size: 20px;
              -webkit-transition: all 0.5s;
              -moz-transition: all 0.5s;
              -ms-transition: all 0.5s;
              -o-transition: all 0.5s;
              transition: all 0.5s;
            }
            button:hover{
              color: #ffffff;
              background-color: #604775;
            }
          }
          input{
            font-size: 18px;
            color: #333333;
            border: 0;
            background-color: transparent;
          }
          .label{
            margin-right: 50px;
          }
        }
      }
    }
  }
  .wrapButton{
    position: fixed;
    right: 12px;
    width: 100px;
    background-color: #fff;
    top: 50%;
    margin-top: -75px;
    z-index: 1000;
    ul{
      display: flex;
      flex-direction: column;
      border-left: 1px solid #e4e4e4;
      border-right: 1px solid #e4e4e4;
      li{
        text-align: center;
        font-size: 14px;
        color: #604775;
        border-bottom: 1px solid #e4e4e4;
        line-height: 50px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
      }
      li:first-child{
        border-top: 1px solid #e4e4e4;
      }
      li.sel{
        background-color: #604775;
        color: #f2f2f2;
      }
      li:hover{
        background-color: #604775;
        color: #f2f2f2;
      }
    }
  }
}
