#productDetail {
  margin-bottom: 100px; }
  #productDetail .list1 {
    width: 100%; }
    #productDetail .list1 img {
      width: 100%; }
  #productDetail .list2 {
    width: 100%;
    background: url("../img/bj06.png") no-repeat;
    background-size: 100% auto;
    margin-bottom: 100px; }
    #productDetail .list2 .l2-wrap {
      width: 1200px;
      margin: auto;
      padding-top: 30px; }
      #productDetail .list2 .l2-wrap p {
        width: 100%; }
        #productDetail .list2 .l2-wrap p img {
          margin: auto;
          width: 100%; }
  #productDetail .proBox {
    width: 1200px;
    margin: 0px auto; }
    #productDetail .proBox .proLeft {
      width: 600px;
      padding: 0 50px;
      -ms-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      margin: 50px 0; }
      #productDetail .proBox .proLeft .proLeftIn {
        width: 500px;
        height: 500px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        #productDetail .proBox .proLeft .proLeftIn img {
          max-height: 100%;
          max-width: 100%; }
      #productDetail .proBox .proLeft .smImg {
        position: relative; }
      #productDetail .proBox .proLeft .next01, #productDetail .proBox .proLeft .prev01 {
        position: absolute;
        top: 0;
        width: 40px;
        height: 100%;
        cursor: pointer;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
      #productDetail .proBox .proLeft .prev01 {
        left: 0;
        background: url("../img/iconLeft01_use.png") no-repeat center #ede8e3;
        background-size: 40% auto; }
      #productDetail .proBox .proLeft .prev01:hover {
        background: url("../img/iconLeft01.png") no-repeat center #604775;
        background-size: 40% auto; }
      #productDetail .proBox .proLeft .next01 {
        right: 0;
        background: url("../img/iconRight01_use.png") no-repeat center #ede8e3;
        background-size: 40% auto; }
      #productDetail .proBox .proLeft .next01:hover {
        background: url("../img/iconRight01.png") no-repeat center #604775;
        background-size: 40% auto; }
      #productDetail .proBox .proLeft .swiperSM {
        width: 75%;
        height: 82px; }
        #productDetail .proBox .proLeft .swiperSM img {
          max-width: 100%;
          max-height: 100%; }
        #productDetail .proBox .proLeft .swiperSM .swiper-slide {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          padding: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #ede8e3;
          cursor: pointer; }
        #productDetail .proBox .proLeft .swiperSM .swiper-slide.sel {
          border: 1px solid #604775; }
    #productDetail .proBox .proRight {
      width: 550px;
      margin: 50px 0px 80px 50px;
      float: left; }
  #productDetail .proTitle {
    font-size: 36px;
    color: #555555; }
  #productDetail .proType {
    font-size: 16px;
    font-weight: lighter;
    color: #999999;
    margin-top: 10px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #e8e8e8; }
  #productDetail .prot {
    font-size: 18px;
    color: #555555;
    font-weight: bold;
    line-height: 38px;
    margin-top: 30px;
    margin-bottom: 25px; }
    #productDetail .prot span {
      font-weight: lighter;
      font-size: 14px; }
  #productDetail .proDetail ul li {
    line-height: 40px; }
    #productDetail .proDetail ul li .li-title {
      margin-right: 30px;
      font-size: 16px;
      color: #555555;
      font-weight: bold; }
    #productDetail .proDetail ul li .li-info {
      font-size: 16px;
      color: #555555;
      font-weight: lighter; }
  #productDetail .proText p {
    font-size: 16px;
    font-weight: lighter; }
    #productDetail .proText p span {
      padding: 0 10px;
      border-right: 1px solid #adadad;
      line-height: 16px; }
    #productDetail .proText p span:nth-child(1) {
      padding-left: 0px; }
    #productDetail .proText p span:nth-last-child(1) {
      padding-right: 0px;
      border-right: 0; }
  #productDetail .proImg {
    width: 100%;
    display: flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex; }
    #productDetail .proImg .pImg {
      width: 80px;
      height: 80px;
      padding: 5px;
      cursor: pointer;
      -ms-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid #eeeeee;
      overflow: hidden;
      margin-right: 20px; }
      #productDetail .proImg .pImg img {
        width: 100%; }
    #productDetail .proImg .pImgActive {
      border-color: #604775; }
    #productDetail .proImg .pImg:nth-last-child(1) {
      margin-right: 0px; }
  #productDetail .proMethod {
    display: flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex; }
    #productDetail .proMethod a {
      line-height: 30px;
      text-align: center;
      margin-right: 20px;
      padding: 14px 25px; }
      #productDetail .proMethod a img {
        width: 100%; }
    #productDetail .proMethod .proJd {
      background-color: #c81623;
      color: white; }
    #productDetail .proMethod .proTm {
      background-color: #ff0036;
      color: #ff0036; }
  #productDetail .proParam {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ede8e3; }
    #productDetail .proParam .proParamTitle {
      font-size: 20px;
      font-weight: bolder;
      line-height: 48px; }
    #productDetail .proParam .proParamBox {
      display: flex;
      flex-wrap: wrap; }
      #productDetail .proParam .proParamBox .paramText {
        width: 33.3333%;
        color: #333333;
        font-weight: bolder;
        font-size: 14px;
        line-height: 36px; }
        #productDetail .proParam .proParamBox .paramText span {
          font-weight: lighter; }
  #productDetail .proHtml {
    width: 1200px;
    min-height: 800px;
    margin: 0 auto;
    position: relative; }
    #productDetail .proHtml .htmlDetail {
      margin-left: 320px; }
    #productDetail .proHtml .navLeft {
      position: absolute;
      left: 0;
      top: 0;
      -webkit-transition: top 0.3s;
      -moz-transition: top 0.3s;
      -ms-transition: top 0.3s;
      -o-transition: top 0.3s;
      transition: top 0.3s; }
      #productDetail .proHtml .navLeft .title {
        position: relative; }
        #productDetail .proHtml .navLeft .title .title-text {
          position: absolute;
          top: 98px;
          width: 100%; }
          #productDetail .proHtml .navLeft .title .title-text .t-1 {
            color: #ffffff;
            font-size: 18px;
            font-weight: bold; }
          #productDetail .proHtml .navLeft .title .title-text .t-2 {
            color: rgba(255, 255, 255, 0.5);
            font-size: 12px; }
      #productDetail .proHtml .navLeft .navList {
        background-color: #fff;
        text-align: center;
        padding: 20px 0;
        border: 1px solid #ede8e3;
        -webkit-box-shadow: 0 0 25px rgba(96, 71, 117, 0.2);
        -moz-box-shadow: 0 0 25px rgba(96, 71, 117, 0.2);
        box-shadow: 0 0 25px rgba(96, 71, 117, 0.2);
        position: relative; }
        #productDetail .proHtml .navLeft .navList li {
          color: #999999;
          font-weight: lighter;
          font-size: 14px;
          line-height: 45px;
          cursor: pointer; }
        #productDetail .proHtml .navLeft .navList li:hover {
          color: #604775;
          font-weight: bold;
          position: relative; }
        #productDetail .proHtml .navLeft .navList li:hover:before {
          content: '';
          display: block;
          position: absolute;
          border-left: 2px solid #604775;
          height: 10px;
          left: 20px;
          top: 50%;
          margin-top: -5px; }
        #productDetail .proHtml .navLeft .navList li.sel {
          color: #604775;
          font-weight: bold;
          position: relative; }
        #productDetail .proHtml .navLeft .navList li.sel:before {
          content: '';
          display: block;
          position: absolute;
          border-left: 2px solid #604775;
          height: 10px;
          left: 20px;
          top: 50%;
          margin-top: -5px; }
      #productDetail .proHtml .navLeft .fanhui {
        position: absolute;
        bottom: -50px;
        width: 80px;
        line-height: 30px;
        left: 50%;
        margin-left: -40px;
        font-size: 14px;
        color: #999999;
        font-weight: lighter;
        border: 1px solid #ede8e3;
        -webkit-box-shadow: 0 0 15px rgba(96, 71, 117, 0.2);
        -moz-box-shadow: 0 0 15px rgba(96, 71, 117, 0.2);
        box-shadow: 0 0 15px rgba(96, 71, 117, 0.2);
        cursor: pointer;
        -webkit-transition: color 0.3s, background-color 0.3s;
        -moz-transition: color 0.3s, background-color 0.3s;
        -ms-transition: color 0.3s, background-color 0.3s;
        -o-transition: color 0.3s ,background-color 0.3s;
        transition: color 0.3s, background-color 0.3s; }
      #productDetail .proHtml .navLeft .fanhui:hover {
        color: #ffffff;
        background-color: #604775; }
    #productDetail .proHtml .navLeft.fixed {
      position: fixed;
      top: 50px;
      left: 50px; }
    #productDetail .proHtml img {
      width: 100% !important; }

/*# sourceMappingURL=productDetail.css.map */
