#serviceMessage{
  margin-bottom: 40px;
  .popUp{
    width: 100%;
    height: 100%;
    .popUpWrap{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .wrapList{
        width: 100%;
        background-color: #ffffff;
        display: flex;
        -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        .list-left{
          width: 35%;
          img{
            width: 100%;
          }
        }
        .list-right{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 65%;

          >div{
            width: 80%;
            position: relative;
            .name01{
              font-size: 16px;
              color: #888888;
            }
            input{
              font-size: 16px;
              color: #333333;
              background-color: transparent;
              border: 0;
            }
            .close01{
              width: 24px;
              height: 24px;
              background: url("../img/close01.png") no-repeat center;
              background-size: 100% auto;
              position: absolute;
              top: -11%;
              right: -6%;
              cursor: pointer;
            }
            .data-1{
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 0px;
              >div{
                width: 48%;
                //display: flex;
                align-items: center;
                padding: 20px 0;
                .name{
                  margin-bottom: 10px;
                }
                .name01{
                  width: 20%;
                  font-size: 14px;
                  color: #555555;
                  font-weight: bold;
                }
                .name01:before{
                  content: '*';
                  color: #ff0000;
                }
                .input{
                  line-height: 50px;
                  border: 1px solid #e4e4e4;
                  text-align: center;
                }
                input{
                  width: 90%;
                  font-size: 14px;
                }
                input::placeholder{
                  font-size: 14px;
                  color: #c8c8c8;
                }
                input:-moz-placeholder{
                  font-size: 14px;
                  color: #c8c8c8;
                }
                input::-webkit-input-placeholder{
                  font-size: 14px;
                  color: #c8c8c8;
                }
                input:-ms-input-placeholder{
                  font-size: 14px;
                  color: #c8c8c8;
                }
                .select-1{
                  display: flex;
                  align-items: center;
                  width: 30%;
                  >div{
                    width: 50%;
                  }
                  .cir{
                    width: 16px;
                    height: 16px;
                    position: relative;
                    border: 1px solid #9b9b9b;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    margin-right: 5px;
                    input{
                      width: 100%;
                      height: 100%;
                      position: absolute;
                      opacity: 0;
                    }
                  }
                  .cir.sel{
                    border: 1px solid #604775;
                    position: relative;
                  }
                  .cir.sel::after{
                    content: '';
                    display: block;
                    width: 6px;
                    height: 6px;
                    background-color: #604775;
                    top: 50%;
                    left: 50%;
                    margin-top: -3px;
                    margin-left: -3px;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    position: absolute;
                  }
                }
              }
            }
            .data-3{
              margin-bottom: 20px;
              .d1-1{
                width: 100%;
                text-align: left;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                .name01{
                  width: 100%;
                  margin-bottom: 20px;
                }
                .input{
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  height: 110px;
                }
                textarea{
                  width: 95%;
                  font-size: 14px;
                  height: 75%;
                  resize: none;
                  border: 0;
                  background-color: transparent;
                }
                textarea::placeholder{
                  font-size: 14px;
                  color: #c8c8c8;
                }
                textarea:-moz-placeholder{
                  font-size: 14px;
                  color: #c8c8c8;
                }
                textarea::-webkit-input-placeholder{
                  font-size: 14px;
                  color: #c8c8c8;
                }
                textarea:-ms-input-placeholder{
                  font-size: 14px;
                  color: #c8c8c8;
                }
              }
            }
            .data-4{
              display: flex;
              align-items: center;
              margin-bottom: 30px;
              .d4-text{
                margin-right: 10px;
                width: 15%;
              }
              .d4-upload{
                position: relative;
                width: 100%;
                height: 40px;
                display: flex;
                .showBtn{
                  width: 45%;
                  line-height: 40px;
                  text-align: center;
                  font-size: 14px;
                  color: #604775;
                  background-color: #ede8e3;
                  position: relative;
                  cursor: pointer;
                  margin-right: 20px;
                  .file{
                    position: absolute;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    cursor: pointer;
                    z-index: 10;
                  }
                }
                .showData{
                  position: relative;
                  width: 100%;
                  display: flex;
                  align-items: center;
                  input{
                    color: #604775;
                  }
                }
              }
            }
            .data-5{
              width: 100%;
              button{
                width: 100%;
                line-height: 60px;
                background-color: #ede8e3;
                color: #666666;
                font-size: 18px;
                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
                -ms-transition: all 0.5s;
                -o-transition: all 0.5s;
                transition: all 0.5s;
              }
              button:hover{
                background-color: #604775;
                color: #ffffff;
                -webkit-box-shadow: 0 0 15px rgba(96, 71, 117, 0.2);
                -moz-box-shadow: 0 0 15px rgba(96, 71, 117, 0.2);
                box-shadow: 0 0 15px rgba(96, 71, 117, 0.2);
              }
            }
            .bj01{
              position: absolute;
              bottom: -10%;
              right: -6%;
              width: 25%;
              img{
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
